*{
    padding: 0px;
    margin: 0px;
    font-size: 1vw;
}


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Sarala:wght@400;700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Sarala:wght@400;700&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    height: 100vh;
}
a {
    text-decoration: none;
}

header {
    font-family: var(--fonte1);
    color: white;
    background-color: black;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 90px;
    font-weight: bolder;
    
}

header > p {
    padding-bottom: 20px;
    text-decoration: none;
}


footer {
    color: white;
    background-color: black;
    text-align: center;
    height: 35px;
    padding-top: 20px;
}

