
div {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: lightgray;
}

div#q1 {
    background-color: skyblue;
}

div#q2 {
    background-image: linear-gradient(to bottom, rgb(144, 236, 144), rgb(8, 61, 8));
}

div#q3 {
    background-image:url('imagens/pattern003.png');
}

body {
    background-image: url('imagens/wallpaper001.jpg');
}